@using BlazorDapperCRUD.Data
@page "/videoaddedit/{id:int}"
@inject IVideoService VideoService
@inject NavigationManager NavigationManager

@*Okay to use DataAnnotationsValidator and ValidationSummary here, if you like. See... 
https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-3.1*@

<h1>@pagetitle</h1>

<EditForm Model="@video" OnValidSubmit="@VideoSave">
    <table class="editform">
        <tr>
            <td>Video Title:</td>
            <td><input type="text" @bind="video.Title" required /></td>
        </tr>
        <tr>
            <td>Date Published:</td>
            <td><input type="date" @bind="video.DatePublished" required min="1900-01-01" max="2050-12-31" /></td>
        </tr>
        <tr>
            <td>Is Active:</td>
            <td><input type="checkbox" @bind="video.IsActive" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="@buttontext" />
                <input type="button" value="Cancel" @onclick="@Cancel" />
            </td>
        </tr>
    </table>


</EditForm>

@code {
    // Create a new, empty Video object
    Video video = new Video();

    [Parameter]
    public int id { get; set; }

    // Set default page title and button text
    public string pagetitle = "Add a Video";
    public string buttontext = "Add";

    //Executes on page open, set defaults on page.
    protected override async Task OnInitializedAsync()
    {
        // ============ If the passed-in id is zero, assume new Video.
        if (id == 0)
        {
            DateTime defaultdate = new DateTime(2000, 12, 31);
            video.DatePublished = defaultdate;
            video.IsActive = true;
        }
        else
        {
            video = await VideoService.Video_GetOne(id);
            // Change page title and button text since this is an edit.
            pagetitle = "Edit Video";
            buttontext = "Update";
        }
    }

    protected async Task VideoSave()
    {
        if (video.VideoID == 0)
        {
            // Insert if id is zero.
            await VideoService.VideoInsert(video);
        }
        else
        {
            // Update if id not 0
            await VideoService.VideoUpdate(video);
        }
        NavigationManager.NavigateTo("/videolist");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/videolist");
    }
}
